

.container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 300px;
    
}
.container button {
    background-color: blue;
    width: 45px;
    height: 45px;
    color: white;
}